*~
.DS_Store

#
# oem_pkg_run .gitignore file
#

# tex work files
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.dvi

# archives and packages
*.gz
*.tgz
*.tar
*.zip
*.bz2

# directories
Tangborn

# specific files
Strow/.#*
Strow/Data
Strow/Figs
Strow/Old
Strow/Test
