*.mat
*.pdf
*.fig
*.png
*.txt
ugh*

WORKS*
Figs*
UNUSED*
TESTOLR_KCARTA
UPLOOKJAC
PDF*

# from diff_m_or_f_files
diff_kcarta_results.txt
diff_results.txt

# from trying uplook instr stuff
*uplook*.dat
*uplook*.jac*
*warning*.msg

# symbolic links
driver_check_WV_T_RH_AIRSCLIMCAPSL3_geo_and_spectral_rates2.m
driver_check_WV_T_RH_AMIP6_geo_and_spectral_rates2.m
driver_check_WV_T_RH_CMIP6_geo_and_spectral_rates2.m
driver_check_WV_T_RH_ERA5_geo_and_spectral_rates2.m
driver_check_WV_T_RH_MERRA2_geo_and_spectral_rates2.m
