*~
.DS_Store

#
# oem_pkg_run .gitignore file
#

# archives and packages
*.gz
*.tgz
*.tar
*.zip
*.bz2

# mat files
*.mat
*.rtp

## Backups
WORKS_*

# directories
SimulateTimeSeries
SyntheticTimeSeries_ERA5_AIRSL3_CMIP6

## symbolic links
driver_check_WV_T_RH_AIRSCLIMCAPSL3_geo_and_spectral_rates2.m
driver_check_WV_T_RH_AMIP6_geo_and_spectral_rates2.m
driver_check_WV_T_RH_CMIP6_geo_and_spectral_rates2.m
driver_check_WV_T_RH_ERA5_geo_and_spectral_rates2.m
driver_check_WV_T_RH_MERRA2_geo_and_spectral_rates2.m
plot_check_WV_T_RH_CMIP6_geo_and_spectral_rates2.m

HadISDH.blend/2021
